//Text alignment from
$gridi-helpers-text-alignment-screens-support-generate-from-classes: true !default;
$gridi-helpers-text-alignment-screens-support-from-classes-skip-screens: null !default;
//Text alignment to
$gridi-helpers-text-alignment-screens-support-generate-to-classes: true !default;
$gridi-helpers-text-alignment-screens-support-to-classes-skip-screens: null !default;
//Text alignment only
$gridi-helpers-text-alignment-screens-support-generate-only-classes: true !default;
$gridi-helpers-text-alignment-screens-support-only-classes-skip-screens: null !default;
